<div>
    <h2 align="center"><a href="/">LOGO</a></h2>
    {% if user.is_anonymous %}
    <h4 align="left">
        <a href="{% url 'sign in' %}">Sign In</a> 
        -
        <a href="{% url 'sign up' %}">Sign Up</a>
    </h4>
    {% elif user.is_authenticated%}
        <h4>
            <a href="{% url 'sign out' %}">Sign Out</a>
        </h4>
        <div>
            <h4>
                Welcome {{user.full_name}} 
                - {{user.email}}
                {% if user.is_seller %}
                - Owner of {{company.company_name}}
                {% endif %} 
            </h4>
        </div>
    {% endif %}
</div>
<hr>